@charset "UTF-8";

* {margin: 0; padding: 0;}
li {list-style: none;}
a {color: #222; text-decoration: none;}
img {vertical-align: top;}

.autoH:after {content: ""; display: block; clear: both;}