@charset "UTF-8";

@import url(reset.css);
@import url(font.css);
@import url(vars.css);

.centerbox {width: 1400px; margin: 0 auto;}
.centerbox1200 {width: 1200px; margin: 0 auto; min-height: 200px;}

/* header */
header {height: 125px; border-bottom: 1px solid #ddd; display: flex;align-items: center;}

header .centerbox {display: flex;
   justify-content: space-between;}
header h1 {}
header nav { font-size: 18px; }
header nav ul {display: flex;height: 100%; /* justify-content: flex-start; align-items: stretch; */}
header nav ul li {}
header nav ul li a {display: flex; height: 100%; align-items: center; padding: 0 27px;}
header nav ul li:hover a {color: var(--primary); font-weight: bold;}

header nav ul li.on a {color: var(--primary); font-weight: bold;}

#section1 h2 {font-size: 40px;text-align: center; margin: 85px 0;font-weight: normal;}
#section1 h2 strong {color:#FFC120; }


#section1 .content {display: flex;justify-content: space-between;}
#section1 .content li {width: 360px;}
#section1 .content li:nth-child(1) {margin-top: 153px;}
#section1 .content li:nth-child(2) {margin-top: 65px;}
/* #section1 .content li:nth-child(3) {margin-top: 85px;} */

#section1 .content li figure {border-radius: 15px; overflow: hidden;font-size: 0; display: flex; justify-content: center; overflow: hidden;}
#section1 .content li h3 {font-size: 24px;color: #001122;text-align: center;margin-top: 39px;}
#section1 .content li p {font-size: 16px;color: #888;margin-top: 20px;padding-left: 65px; font-weight: normal; position: relative;}
#section1 .content li:nth-child(2) p {padding-left: 40px;}
#section1 .content li:nth-child(3) p {padding-left: 40px;}
#section1 .content li p:before {content:""; position: absolute; width: 5px;height: 5px; border-radius:50%; background: #888;left: 50px; top: 7px;}
#section1 .content li:nth-child(2) p:before {left: 25px; top: 7px;}
#section1 .content li:nth-child(3) p:before {left: 25px; top: 7px;}

/* #section2 */
#section2 {margin-top: 117px;}
#section2 .part1 {margin-bottom: 228px;text-align: center;}
#section2 .part1 figure {width: 904px; margin: 0 auto; }
#section2 .part1 span.num {display: block;font-size: 50px; font-weight: bold; color: #2268CF; margin: 31px 0 53px 0;}
/*  {display: block; width: 55px;height: 55px; font-size: 50px; color: #fff; font-weight: bold;background: #2268CF; margin: 40px auto; border-radius: 10px; transform: rotate(45deg);} */

#section2 .part1 span.num strong {}
/* {transform:rotate(-45deg); display: block;} */
#section2 .part1 img{border-radius: 15px;}

#section2 .part1 span.num strong:before {content:url(../images/left1.png); margin-right: 15px;}
#section2 .part1 span.num strong:after {content:url(../images/right1.png); margin-left: 15px;}

#section2 .part1 h2 {font-size: 50px; margin-bottom: 40px;}
#section2 .part1 h2:after {content:url(../images/this.png);position: absolute; margin: 30px 0 0 20px;}

#section2 .part1 .cont {font-size: 20px; color:var(--primary);width: 785px; margin: 0 auto; position: relative;}
/* #section2 .part1 .cont:before {content:"["; position: absolute; font-size: 80px; color: var(--primary); left: 0;top: 50%; transform: translateY(-50%);margin-top: -5px;}
#section2 .part1 .cont:after {content:"]"; position: absolute; font-size: 80px; color: var(--primary); right: 0;top: 50%; transform: translateY(-50%); } */

#section2 .part2 {display: flex;flex-direction: column; align-items: center;margin-bottom: 140px;}
#section2 .part2 h3 {font-size: 40px; text-align: center; position: relative;display: inline-block ; padding: 0 50px; font-weight: bold;margin-bottom: 120px;}
#section2 .part2 h3:before {content:url('../images/line_left.png'); position: absolute; left: 0; top:50%; transform: translateY(-50%); margin-top: 5px;}
#section2 .part2 h3:after {content:url('../images/line_right.png'); position: absolute; right: 0; top:50%; transform: translateY(-50%); margin-top: 5px;}
#section2 .part2 h3 span {color: #FFC120;}

#section2 .part2 .content {display: flex; gap: 53px; flex-wrap: ;}
#section2 .part2 .content li {display: flex;flex-direction: column; align-items: center;gap: 31px; 
   /* flex-basis: 300px;
   flex-grow: 1; /* 남는 공간이 있으면 더 커지게 : 초기값 0 */                
   /* flex-shrink: 1; */ /* 남는 공간이 부족하면 더 작아지게 : 초기값 1 */ */}
#section2 .part2 .content li p {font-size: 20px; color: #888;}
#section2 .part2 .content li img {}


#section2 .part3 {display: flex;flex-direction: column; align-items: center;margin-bottom: 230px; }
#section2 .part3 h3 {font-size: 40px; text-align: center; position: relative;display: inline-block ; padding: 0 50px; font-weight: bold;margin-bottom: 120px;}
#section2 .part3 h3:before {content:url('../images/part3_line_img1.png'); position: absolute; left: 0; top:50%; transform: translateY(-50%); margin-top: 5px;}
#section2 .part3 h3:after {content:url('../images/part3_line_img2.png'); position: absolute; right: 0; top:50%; transform: translateY(-50%); margin-top: 5px;}
#section2 .part3 h3 span {color: #2268CF;}

#section2 .part3 .content {display: flex; gap: 53px; flex-wrap: ;}
#section2 .part3 .content li {display: flex;flex-direction: column; align-items: center;gap: 31px; 
   /* flex-basis: 300px;
   flex-grow: 1; /* 남는 공간이 있으면 더 커지게 : 초기값 0 */                
   /* flex-shrink: 1; */ /* 남는 공간이 부족하면 더 작아지게 : 초기값 1 */ */}
#section2 .part3 .content li p {font-size: 20px; color: #888;}
#section2 .part3 .content li img {}

#section2 .part4 figure {width: 852px; margin: 0 auto; margin-bottom: 300px;}
#section2 .part4 figure img {border-radius: 15px;}

#section2 .part5 .content {display: flex; flex-wrap: wrap; gap: 52px; justify-content: center; margin-bottom: 209px;}

#section2 .part5 .content li {width: 210px; height: 150px; background: #F7F7F7;border: 1px solid #CCD0D5;border-radius: 15px; display: flex; align-items: center; justify-content: center; text-align: center; font-size: 20px;position: relative;}
#section2 .part5 .content li:nth-child(1):before {content:url(../images/part5_spoon.png);position: absolute; top: -15px; left: -15px}
#section2 .part5 .content li:nth-child(2):before {content:url(../images/part5_food.png);position: absolute; top: -15px; left: -15px}
#section2 .part5 .content li:nth-child(3):before {content:url(../images/part5_ticket.png);position: absolute; top: -15px; left: -15px}
#section2 .part5 .content li:nth-child(4):before {content:url(../images/part5_jjimjil.png);position: absolute; top: -15px; left: -15px}
#section2 .part5 .content li:nth-child(5):before {content:url(../images/part5_shop.png);position: absolute; top: -15px; left: -15px}
#section2 .part5 .content li:nth-child(6):before {content:url(../images/part5_md.png);position: absolute; top: -15px; left: -15px}
#section2 .part5 .content li:nth-child(7):before {content:url(../images/part5_sunbed.png);position: absolute; top: -15px; left: -15px}
#section2 .part5 .content li:nth-child(8):before {content:url(../images/part5_sunbed2.png);position: absolute; top: -15px; left: -15px}


#section2 .part6 h3 {font-size: 50px; text-align: center; position: relative;margin-bottom: 162px;}
#section2 .part6 > h3:after {content:url(../images/part6_star.png);position: absolute; margin-top: 30px; left: 500px;}

#section2 .part6 .content {display: flex; gap: 60px; margin-bottom: 241px;}

#section2 .part6 .content li {display: flex;align-items: center; justify-content: center;align-items: center;flex-direction: column;text-align: center;position: relative; overflow: hidden; border-radius: 15px;}
#section2 .part6 .content li:nth-child(1) {width: 360px; height: 257px; background: url(../images/part6_img1.png); top: -61px}
#section2 .part6 .content li:nth-child(2) {width: 360px; height: 257px; background: url(../images/part6_img2.png);}
#section2 .part6 .content li:nth-child(3) {width: 360px; height: 257px; background: url(../images/part6_img3.png); top: 60px}

#section2 .part6 .content li .num {border: 1px solid #000; position: absolute; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center;align-items: center;;}
#section2 .part6 .content li .num h3 {font-size: 72px;color: #FFE196; position: absolute; top: 0; left: 10px;z-index: 1;}


#section2 .part6 .content li::before {content: ""; position: absolute;width: 100%; height: 100%; background: rgba(0,0,0,0.5);;}

#section2 .part6 .content li p {margin-bottom: 22px; font-size: 20px; font-weight: normal; color: #fff;}
#section2 .part6 .content li strong {font-size: 30px; color: #fff;}



#section3 {}
#section3 .part1 {margin-bottom: 228px;text-align: center;}
#section3 .part1 figure {width: 904px; margin: 0 auto; }
#section3 .part1 span.num {display: block;font-size: 50px; font-weight: bold; color: #2268CF; margin: 31px 0 53px 0;}

#section3 .part1 span.num strong {}

#section3 .part1 img{border-radius: 15px;}

#section3 .part1 span.num strong:before {content:url(../images/left1.png); margin-right: 15px;}
#section3 .part1 span.num strong:after {content:url(../images/right1.png); margin-left: 15px;}

#section3 .part1 h2 {font-size: 50px; margin-bottom: 40px;}
#section3 .part1 h2:after {content:url(../images/this.png);position: absolute; transform: translateY(-60%); margin-left: 20px; }

#section3 .part1 .cont {font-size: 20px; color:var(--primary);width: 785px; margin: 0 auto; position: relative;}



#section3 .part2 {display: flex;flex-direction: column; align-items: center;margin-bottom: 240px;}
#section3 .part2 h3 {font-size: 40px; text-align: center; position: relative;display: inline-block ; padding: 0 50px; font-weight: bold;margin-bottom: 120px;}
/* #section3 .part2 h3:before {content:url('../images/line_left.png'); position: absolute; left: 0; top:50%; transform: translateY(-50%); margin-top: 5px;} */
#section3 .part2 h3:after {content:url('../images/idonkknow.png'); position: absolute; right: 0; top:50%; transform: translateY(-50%); margin-top: 18px; left: -10px;}
#section3 .part2 .content {display: flex; font-size: 20px;}
#section3 .part2 li span {color: #000; display: block; margin-bottom: 35px;}
#section3 .part2 li p {color: #888888;}

#section3 .part2 .content {display: flex; gap: 53px; flex-wrap: ;}
#section3 .part2 .content li {display: flex;flex-direction: column; align-items: center;gap:31px}



#section3 .part3 {margin-bottom: 68px;text-align: center;}
#section3 .part3 figure {width: 904px; margin: 0 auto; }
#section3 .part3 span.num {display: block;font-size: 50px; font-weight: bold; color: #2268CF; margin: 31px 0 53px 0;}

#section3 .part3 span.num strong {}

#section3 .part3 img{border-radius: 15px;}

#section3 .part3 span.num strong:before {content:url(../images/left1.png); margin-right: 15px;}
#section3 .part3 span.num strong:after {content:url(../images/right1.png); margin-left: 15px;}

#section3 .part3 h2 {font-size: 50px; margin-bottom: 40px;}
#section3 .part3 h2:after {content:url(../images/this.png);position: absolute; transform: translateY(-60%); margin-left: 20px; }

#section3 .part3 .cont {font-size: 20px; color:var(--primary);width: 785px; margin: 0 auto; position: relative;}



#section3 .part_round {width: 915px; height: 243px; background: #FFF8E8; border-radius: 100px; display: flex; flex-direction: column; padding: 50px 100px; font-size: 24px; box-sizing: border-box; margin: 0 auto;} 

#section3 .part_round h3 {color: #646464; position: relative;}
#section3 .part_round h3:before {content:url(../images/hahaha.png);position: absolute; left: -40px; top: -20px;  }
#section3 .part_round p {color: #646464}


#section4 .part1 {display: flex;flex-direction: column; align-items: center;margin-bottom: 140px;}
#section4 .part1 h3 {font-size: 40px; text-align: center; position: relative;display: inline-block ; padding: 0 50px; font-weight: bold;margin-bottom: 120px; margin-top: 223px;}
#section4 .part1 h3:before {content:url('../images/part3_line_img1.png'); position: absolute; left: 0; top:50%; transform: translateY(-50%); margin-top: 5px;}
#section4 .part1 h3:after {content:url('../images/part3_line_img2.png'); position: absolute; right: 0; top:50%; transform: translateY(-50%); margin-top: 5px;}


#section4 .part1 .content {width: 100%;display: flex; gap: 54px;}
#section4 .part1 .content figure {margin: 43px 0 16px 0;}
#section4 .part1 .content li {width: 260px; height: 208px; border: 1px solid #2268CF; border-radius: 15px; font-size: 20px; color: #888888; display: flex; flex-direction: column;
align-items: center; text-align: center;}



#section4 .part2 {display: flex;flex-direction: column; align-items: center;margin-bottom: 140px;}
#section4 .part2 h3 {font-size: 40px; text-align: center; position: relative;display: inline-block ; padding: 0 50px; font-weight: bold;margin-bottom: 120px; margin-top: 140px;}
#section4 .part2 h3:before {content:url('../images/line_left.png'); position: absolute; left: 0; top:50%; transform: translateY(-50%); margin-top: 5px;}
#section4 .part2 h3:after {content:url('../images/line_right.png'); position: absolute; right: 0; top:50%; transform: translateY(-50%); margin-top: 5px;}

#section4 .part2 .content {display: flex; gap: 170px;}
#section4 .part2 .content li {width: 288px; height: 231px; border: 1px solid #2268CF; border-radius: 15px;display: flex;flex-direction: column;align-items: center; padding: 60px 0; box-sizing: border-box;}
#section4 .part2 .content li strong {font-size: 40px; color: #2268CF; margin-bottom: 40px;}
#section4 .part2 .content li span {font-size: 20px;}




#section5 .part1 {display: flex;flex-direction: column; align-items: center;margin-bottom: 140px;}
#section5 .part1 h3 {font-size: 40px; text-align: center; position: relative;display: inline-block ; padding: 0 50px; font-weight: bold;margin-bottom: 120px; margin-top: 223px;}
#section5 .part1 h3:before {content:url('../images/part3_line_img1.png'); position: absolute; left: 0; top:50%; transform: translateY(-50%); margin-top: 5px;}
#section5 .part1 h3:after {content:url('../images/part3_line_img2.png'); position: absolute; right: 0; top:50%; transform: translateY(-50%); margin-top: 5px;}


#section5 .part1 .content {width: 100%;display: flex; gap: 54px;}
#section5 .part1 .content figure {margin: 43px 0 16px 0;}
#section5 .part1 .content li {width: 260px; height: 240px; border: 1px solid #CCD0D5; border-radius: 15px;  display: flex; flex-direction: column; align-items: center;}
#section5 .part1 .content li p {font-size: 20px; color: #888888;padding: 20px;}
#section5 .part1 .content li span {color: #CCCCCC; font-size: 16px; margin: 50px 0 0 150px; }
#section5 .part1 .content li:nth-child(2) span {margin-top: 97px;}